*{
    margin: 0;
    padding: 0;
}

body, head{
    background-color: rgb(29, 44, 58);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;

}

.navbar{
    display: flex;
    align-items: center;
    background-color: rgb(24, 38, 51);
}

.navbar-brand{
    margin-left: 8rem;
}

.navbar-brand img{
    vertical-align:-25%;
}

.navbar-brand-name{
    color: azure;
    font-size: 30px;
}

.navbar-search {
    padding: 0;
    display: flex;
    margin-left: 20%;
}

.navbar-search input{
    display: flex;
    margin: 0;
}

.navbar-search-input{
    width: 15rem;
    height: 2rem;
    font-size: 17px;
    background-color: rgb(46, 76, 101);
    border: none;
    color: azure;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    padding: 4px 8px;
}

.navbar-search-input:focus{
    outline: none;
} 

.navbar-search-input::placeholder{
    color: rgba(240, 255, 255, 0.392);
}

.navbar-search-button{
    background-color: rgb(46, 76, 101);
    border: none;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    background-image: url(/media/navbar/seearch_loop.png);
    background-repeat: no-repeat;
    border: none;
    outline: none;
    background-size: 45px 45px;
    background-position: top;
    width: 45px;
    padding: 8px;
    cursor: pointer;
}
.navbar-search-button:hover{
    background-color: rgb(66, 96, 121);
}

.navbar-links{
    margin-left: 55px;
}

.navbar-links ul {
    margin-right: 0;
    padding: 0;
    display: flex;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    display: block;
    padding: 5px;
    margin: 5px 10px;
}

.toggle-button{
    position: absolute;
    top: 10px;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 1rem;
}

@media(max-width: 1150px){
    .toggle-button{
        display: flex;
        background-color: rgba(0,0,0,0);
        border: none;
        outline: none;
        cursor: pointer;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-brand{
        margin-left: 6rem;
    }

    .navbar-search{
        display: none;
        width: 100%;
        justify-content: center;
        margin: 0;
    }

    .navbar-search.active{
        display: flex;
    }

    .navbar-links{
        display: none;
        width: 100%;
        margin-left: 25%;
    }
    .navbar-links ul{
        width: 50%;
        flex-direction: column;
    }
    .navbar-links li{
        text-align: center;
    }
    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active{
        display: flex;
    }
}

.games{
    color: azure;
    border-color: rgb(90, 118, 125);
    border-style: solid;
    font-size: 25px;
    padding: 5px 5px;
}

.games:hover{
    background-color: rgb(51, 75, 90);
}

 .login{
    color: azure;
    border-color: rgb(37, 82, 102);
    border-style: solid;
    font-size: 25px;
    padding: 5px 5px;
}

.login:hover{
    border-color: rgb(90, 156, 187);
    background-color: rgb(40, 40, 40);
}

.register{
    color: azure;
    border-radius: 0%;
    border-color: rgb(39, 67, 80);
    border-style: solid;
    font-size: 25px;
}

.register:hover{
    border-color: rgb(90, 156, 187);
    background-color: rgb(40, 40, 40);
}

.profile{
    color: azure;
    background-color: rgb(70, 92, 121);
    font-size: 25px;
    padding: 5px 5px;
    border-color: rgb(70, 92, 121);
    border-style: solid;
}
.profile:hover{
    background-color: rgb(102, 163, 224);
    border-color: rgb(102, 163, 224);
}

a:visited, a:link {
    text-decoration: none;
}

a:active, a:hover{
    text-decoration: none;
}

.game-name{
    color: red;
}

#gamesList{
    grid-template-columns: repeat(auto-fill, minmax(16rem, 2fr));
    display: grid;
    margin-top: 5%;
    gap: 1rem;
    margin-left: 15%;
    margin-right: 15%;
}

.game{
    border-radius: .3em;
    background-color: rgb(50, 72, 101);
    height: 3rem;
    cursor: pointer;
    text-align: center;
}

.game:hover{
    background-color: rgb(70, 92, 121);
    box-shadow: 3px 3px 12px rgb(18, 18, 18);
}

.game > .game-name{
    padding-top: 10px;
    font-size: 23px;
    color: azure;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1; 
    -webkit-box-orient: vertical;
}

#pageButton{
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    position: static;
}
        
.pagination {
    list-style: none;
    display: flex;
}
        
.previousButton {
    width: 28px;
    height: 28px;
    border-radius: 3px;
    border: none;
    text-align: center;
    background-color: rgb(78, 102, 135);
    margin: 0 3px;
    color: azure;
}

.previousButton:hover {
    background-color: rgb(58, 82, 115);
}

.nextButton {
    width: 28px;
    height: 28px;
    border-radius: 3px;
    border: none;
    text-align: center;
    background-color: rgb(78, 102, 135);
    margin: 0 3px;
    color: azure;
}

.nextButton:hover {
    background-color: rgb(58, 82, 115);
}

.errors{
    display: flex;
    justify-content: center;
    position: static;
}

#errorGameNotFound{
    display: none;
    color: rgb(201, 42, 42);
    font-size: 3rem;
}

#genereFilter{
    position: absolute;
    margin-top: 2%;
    left: 15%;
    color: azure;
}

#genereCheckbox{
    display: none;
    padding: 1px 6px;
    overflow: scroll;
    height: 89px;    
    background-color: rgba(59, 74, 88, 0.8);
    border-radius: .3em;
}

#genereFilterButton{
    cursor: pointer;
}

#exitFromCheckbox{
    cursor: pointer;
}