*{
    margin: 0;
    padding: 0;
}

body, head{
    background-color: rgb(29, 44, 58);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(24, 38, 51);
}

.navbar-brand{
    margin: .5rem 5.5rem;
    font-size: 30px;
}
.navbar-brand-name{
    color: azure;
}

.navbar-search {
    margin-left: 30rem;
    padding: 0;
    display: flex;
}

.navbar-search input{
    display: flex;
    margin: 0;
}

.navbar-search-input{
    width: 15rem;
    height: 2rem;
    font-size: 17px;
    background-color: rgb(46, 76, 101);
    border: none;
    color: azure;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    padding: 4px 8px;
}

.navbar-search-input:focus{
    outline: none;
} 

.navbar-search-input::placeholder{
    color: rgba(240, 255, 255, 0.392);
}

.navbar-search-button{
    font-size: 14px;
    background-color: rgb(46, 76, 101);
    border: none;
    color: azure;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    padding: 8px;
}
.navbar-search-button:hover{
    background-color: rgb(66, 96, 121);
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    display: block;
    padding: 5px;
    margin: 5px 10px;
}

.toggle-button{
    position: absolute;
    top: 13px;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 1rem;
}

@media(max-width: 1300px){
    .toggle-button{
        display: flex;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-search{
        display: none;
        width: 100%;
        justify-content: center;
        margin: 0;
    }

    .navbar-search.active{
        display: flex;
    }

    .navbar-links{
        display: none;
        width: 100%;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li{
        text-align: center;
    }
    .navbar-links li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active{
        display: flex;
    }
}

a:visited, a:link {
    text-decoration: none;
}

a:active, a:hover{
    text-decoration: none;
}

.info{
    /* top: auto; */
    margin-top: 3%;
    border-radius: 5px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    color: azure;
    background-color: rgb(59, 74, 88);
    width: 35%;
    height: auto;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem; 

}
#username{
    /* top: 3%;
    border-radius: 5px;
    left: 50%;
    position: absolute;
    transform: translate(-50%); */
    font-size: 32px;
}
.edit-field{
    margin-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
    /* top: 12%; */
    border-radius: 5px;
    /* left: 50%;
    position: absolute;
    transform: translate(-50%); */
}

.username-field{
    display: none;
}

.username-field.active{
    display: block;
}

.date-of-birth-field{
    display: none;
}

.date-of-birth-field.active{
    display: block;
}

.email-field{
    display: none;
}

.email-field.active{
    display: block;
}

.password-field{
    display: none;
}

.password-field.active{
    display: block;
}

#editEmail{
    margin-top: .5rem;
    width: 15rem;
    height: 28px;
    padding: 0px 5px;
    outline: none;
    border: none;
    color: azure;
    font-size: 18px;
    background-color: rgb(85, 108, 129);
}

#editUsername{
    margin-top: .5rem;
    width: 15rem;
    height: 28px;
    padding: 0px 5px;
    outline: none;
    border: none;
    color: azure;
    font-size: 18px;
    background-color: rgb(85, 108, 129);
}

#editDateOfBirth{
    margin-top: .5rem;
    background-color: rgb(85, 108, 129);
    color: azure;
    border: none;
    width: 7rem;
    height: 28px;
    outline: none;
}

#changePassword{
    margin-top: .5rem;
    width: 15rem;
    height: 28px;
    padding: 0px 5px;
    outline: none;
    border: none;
    color: azure;
    font-size: 18px;
    background-color: rgb(85, 108, 129);
}


.save-button{
    width: 4rem;
    height: 20px;
    border: none;
    outline: none;
    color: azure;
    background-color: rgb(65, 88, 109);
    display: none;
}

.save-button:hover{
    background-color: rgb(85, 108, 129);
}

.edit-top{
    margin-top: 5px;
    width: 7rem;
    height: 24px;
    border: none;
    background-color: rgb(85, 107, 129);
    color: azure;
}

.error{
    margin-top: .5rem;
    color: rgb(201, 42, 42);
    display: none;
}