body, head{
    background-color: rgb(29, 44, 58);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.reset-password-form{
    top: 20%;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: auto;
}

.password-field{
    color: azure;
    font-size: 24px;
}

.password-field input{
    border: none;
    outline: none;
    width: 14rem;
    height: 24px;
}

.confirm-password{
    margin-top: 1rem;
}

#newPassword{
    margin-top: 5px;
}

#confirmPassword{
    margin-top: 5px;
}

#saveNewPassword{
    border: none;
    transform: translate(-50%);
    margin-left: 50%;
    width: 10rem;
    height: 24px;
    outline: none;
    cursor: pointer;
    color: azure;
    background-color: rgb(85, 107, 129);
}

#saveNewPassword:hover{
    background-color: rgb(105, 127, 149);
}

#success{
    top: 25%;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: auto;
    font-size: 24px;
    color: azure;
    display: none;
}

.error{
    display: none;
    font-size: 16px;
    color: rgb(201, 42, 42);
}