body, head{
    background-color: rgb(29, 44, 58);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

a:visited, a:link {
    text-decoration: none;
}

a:active, a:hover{
    text-decoration: none;
}

.back{
    top: 15%;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
}

.back a{
    color: azure;
    font-size: 24px;
}

.send-letter-form{
    top: 20%;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
}

.email-field{
    margin-top: 1rem;
    color: azure;
    font-size: 24px;
}

#email{
    border: none;
    outline: none;
    width: 14rem;
    height: 24px;
}
.send-letter-button{
    margin-top: 1rem;
    border: none;
    outline: none;
    color: azure;
    background-color: rgb(56, 81, 101);
    width: 7rem;
    height: 22px;
    margin-left: 25%;
    cursor: pointer;
}

.send-letter-button:hover{
    background-color: rgb(46, 71, 91);
}

.send-letter-button:disabled{
    background-color: rgb(26, 51, 71);
}

.error{
    display: none;
    font-size: 16px;
    color: rgb(201, 42, 42);
}

.success{
    display: none;
    top: 20%;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 37rem;
    text-align: center;
}

.success p{
    margin-top: 2rem;
    color: azure;
    font-size: 24px;
}
