<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/games_search.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <div>

            <div class="navbar-brand">
                <a href="/" class="navbar-brand-name">
                    <img src="/media/navbar/logo.png" width="40" height="40" class="logo">VOI
                </a>
            </div>
        </div>
        
        <div class="navbar-search">
            <input type="text" id="searchInput" placeholder="Search" class="navbar-search-input">
            <button class="navbar-search-button" id="navbarSearchButton">
            </button>
        </div>
        
        <button class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>

        <div class="navbar-links">
            <ul>
                <li>
                    <a class="games" id="games" href="/">Games</a>
                </li>
                <li>
                    <a class="login" id="login" href="{% url 'user_view:login' %}">Log in</a>
                </li>
                <li>
                    <a class="register" id="register" href="{% url 'user_view:register' %}">Register</a>
                </li>
                <li>
                    <a class="profile" id="profile" href="{% url 'user_view:profile' %}">Profile</a>
                </li>
            </ul>            
        </div>
    </nav>
    
    <div id="gamesList">

    </div>

    <nav aria-label="pagination" id="pageButton">
        <ul class="pagination">
        </ul>
    </nav>
    <div class="errors">
        <p id="errorGameNotFound">Game not found : &#40</p>
    </div>
</body>
<script>
    $(".toggle-button").click(function(){
        $(".navbar-links").toggleClass('active');
        $(".navbar-search").toggleClass('active');
    });

    $(".profile").css("display", "none");
    
    let token = localStorage.getItem("token");
    
    if (token){
        $("#login").css("display", "none");
        $("#register").css("display", "none");
        $("#profile").css("display", "block");    
    }

    url = window.location.href.split('?')[1];
    $.ajax({
        method: "GET",
        url: `{% url 'games_api:games_search' %}?${url}`,
        success: function(result){
            
            if(result.results == ""){
                $("#errorGameNotFound").css("display", "inline")
            }
            
            var game = result.results;

            $.each(game, function(index){
                var name = game[index]["name"];
                var screenshot = game[index]["screenshot"];
                $("#gamesList").append(
                    `
                    <div class="game">    
                        <p class="game-name">${name}</p>
                    </div>
                    `
                );
            });            
            if(result.previous){
                var previousPage = result.previous.split("?")[1];
                $(".pagination").append(
                    `<li><a href="{% url 'games_view:games_search' %}?${previousPage}" class="previousButton">&#10094</a><br></li>`
                );
            }
            if(result.next){
                var nextPage = result.next.split("?")[1];
                $(".pagination").append(
                    `<li><a href="{% url 'games_view:games_search' %}?${nextPage}" class="nextButton">&#10095</a><br></li>`
                );
            }
        }
    });

    $("#navbarSearchButton").click(function(){
        searchInput = $("#searchInput").val();
        top.location.href = `{% url 'games_view:games_search' %}?name=${searchInput}&is_active=true&page=1`
    });

</script>
</html>