<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <title>Document</title>
</head>

<body>
    <nav class="navbar">
        <div>

            <div class="navbar-brand">
                <a href="/" class="navbar-brand-name">
                    <img src="/media/navbar/logo.png" width="40" height="40" class="logo">VOI
                </a>
            </div>
        </div>
        
        <div class="navbar-search">
            <input type="text" id="searchInput" placeholder="Search" class="navbar-search-input">
            <button class="navbar-search-button" id="navbarSearchButton">
            </button>
        </div>
        
        <button class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>

        <div class="navbar-links">
            <ul>
                <li id="gamesLi">
                    <a class="games" id="games" href="{% url 'games_view:all_games' %}">Games</a>
                </li>
                <li id="addNewGameLi">
                </li>
            </ul>            
        </div>
    </nav>
    <div class="info">
        <img src="/media/user_avatar/base_avatar/test.png" id="userAvatar" width="100" height="100" style="border: none; border-radius: 3rem;">
        <p id="username"></p>
        <input type="button" class="edit-top" id="profileTop" value="Profile">
        <input type="button" class="edit-top" id="safetyTop" value="Safety">
        <div class="edit-fields">

            <div class="profile-fields">
                
                <div class="username-field">
                    <p class="field-text">Username</p>
                    <input type="text" id="editUsername" value=""><br>
                </div>
                
                <div class="date-of-birth-field">
                    <p class="field-text">Date of birth</p>
                    <input type="date" id="editDateOfBirth" value=""><br>
                </div>
                <p id="errorProfile" class="error">Request field empty</p>

                <input type="button" class="save-button" id="saveProfile" value="Save">
                
                <div class="user-avatar-field">
                    <input type="file" id="changeUserAvatar">
                    <input type="button" class="clone-changeUserAvatar" value="Change avatar" onclick="document.getElementById('changeUserAvatar').click();"><br>
                    <input type="button" class="save-button" id="saveUserAvatar" value="Save">
                    <p id="errorFileSize" class="error">File size is too large</p>
                    <p id="errorFileExt" class="error">Invalid file type</p>
                </div>
                
            </div>

            <div class="safety-fields">

                <div class="email-field">
                    <p class="field-text">Сonfirm identity</p>
                    <input type="password" class="password" id="confirmIdentityPassword"><br>
                    <p class="field-text">Email</p>
                    <input type="email" id="editEmail" value=""><br>
                    
                    <p id="errorEmail" class="error">Email field empty</p>
                    <p id="errorEmailExist" class="error">Email exist</p>
                    <p id="errorWrongConfirmIdentityPassword" class="error">Wrong confirm identity password</p>
                    
                    <input type="button" class="save-button" id="saveEmail" value="Save">
                </div>
                
                <div class="password-field">
                    
                    <p class="field-text">Old password</p>
                    <input type="password" class="password" id="oldPassword">
                    
                    <p class="field-text">Password</p>
                    <input type="password" class="password" id="changePassword"><br>
                    
                    <p class="field-text">Confirm password</p>
                    <input type="password" class="password" id="confirmPassword"><br>
                    
                    <p id="errorPassword" class="error">Password field empty</p>
                    <p id="errorOldPassword" class="error">Wrong old password</p>
                    <p id="errorWrongConfirmPassword" class="error">Wrong confirm password</p>
                    
                    <input type="button" class="save-button" id="savePassword" value="Save">
                </div>

            </div>
        
        </div>

        <button id="logOut">Log out</button>
    </div>
</body>
<script src="{% static 'js/profile.js' %}"></script>
</html>