<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <title>Document</title>
</head>

<body>
    <nav class="navbar">

        <div class="navbar-brand">
            <a href="/" class="navbar-brand-name">
                <img src="/media/navbar/logo.png" width="40" height="40" class="logo">VOI
            </a>
        </div>

        <div class="navbar-search">
            <input type="text" name="" id="" placeholder="Search" class="navbar-search-input">
            <button class="navbar-search-button"></button>
        </div>

        <button class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
        <div class="navbar-links">
            <ul>
            </ul>
        </div>
    </nav>
    <div class="info">
        <img src="/media/user_avatar/base_avatar/test.png" id="userAvatar" width="100" height="100" style="border: none; border-radius: 3rem;">
        <p id="username"></p>
        <input type="button" class="edit-top" id="profileTop" value="Profile">
        <input type="button" class="edit-top" id="safetyTop" value="Safety">
        <div class="edit-fields">

            <div class="profile-fields">
                
                <div class="username-field">
                    <p class="field-text">Username</p>
                    <input type="text" id="editUsername" value=""><br>
                </div>
                
                <div class="date-of-birth-field">
                    <p class="field-text">Date of birth</p>
                    <input type="date" id="editDateOfBirth" value=""><br>
                </div>
                <p id="errorProfile" class="error">Request field empty</p>

                <input type="button" class="save-button" id="saveProfile" value="Save">
                
                <div class="user-avatar-field">
                    <input type="file" id="changeUserAvatar">
                    <input type="button" class="clone-changeUserAvatar" value="Change avatar" onclick="document.getElementById('changeUserAvatar').click();"><br>
                    <input type="button" class="save-button" id="saveUserAvatar" value="Save">
                    <p id="errorFileSize" class="error">File size is too large</p>
                    <p id="errorFileExt" class="error">Invalid file type</p>
                </div>
                
            </div>

            <div class="safety-fields">

                <div class="email-field">
                    <p class="field-text">Сonfirm identity</p>
                    <input type="password" class="password" id="confirmIdentityPassword"><br>
                    <p class="field-text">Email</p>
                    <input type="email" id="editEmail" value=""><br>
                    
                    <p id="errorEmail" class="error">Email field empty</p>
                    <p id="errorEmailExist" class="error">Email exist</p>
                    <p id="errorWrongConfirmIdentityPassword" class="error">Wrong confirm identity password</p>
                    
                    <input type="button" class="save-button" id="saveEmail" value="Save">
                </div>
                
                <div class="password-field">
                    
                    <p class="field-text">Old password</p>
                    <input type="password" class="password" id="oldPassword">
                    
                    <p class="field-text">Password</p>
                    <input type="password" class="password" id="changePassword"><br>
                    
                    <p class="field-text">Confirm password</p>
                    <input type="password" class="password" id="confirmPassword"><br>
                    
                    <p id="errorPassword" class="error">Password field empty</p>
                    <p id="errorOldPassword" class="error">Wrong old password</p>
                    <p id="errorWrongConfirmPassword" class="error">Wrong confirm password</p>
                    
                    <input type="button" class="save-button" id="savePassword" value="Save">
                </div>

            </div>
        
        </div>

        <button id="logOut">Log out</button>
    </div>
</body>
<script>
    $(".toggle-button").click(function () {
        $(".navbar-links").toggleClass('active');
        $(".navbar-search").toggleClass('active');
    });

    $("#profileTop").click(function () {
        $(".profile-fields").toggleClass('active');
        $(".safety-fields").removeClass('active');
    });

    $("#safetyTop").click(function () {
        $(".safety-fields").toggleClass('active');
        $(".profile-fields").removeClass('active');
    });

    let oldUsername;
    let oldEmail;
    let oldDateOfBirth;
    $("#editUsername").add("#editDateOfBirth").on('input', function(){
        if($("#editUsername").val() == oldUsername && $("#editDateOfBirth").val() == oldDateOfBirth){
            $("#saveProfile").css("display", "none");
            return;
        }
        $("#saveProfile").css("display", "inline");
    });
    
    $("#changeUserAvatar").on('input', function(){

        if($("#changeUserAvatar").val() == null){
            $("#saveUserAvatar").css("display", "none");
            return;
        }
        $("#saveUserAvatar").css("display", "inline");  
    });

    $("#editEmail").on('input', function(){
        if($("#editEmail").val() == oldEmail){
            $("#saveEmail").css("display", "none");
            return;
        }
        $("#saveEmail").css("display", "inline");
    });
    $("#changePassword").on('input', function(){
        if($("#changePassword").val() == ""){
            $("#savePassword").css("display", "none");
            return;
        }
        $("#savePassword").css("display", "inline");
    });
    
    let refresh_token = localStorage.getItem('refresh_token');
    let prefix = "Bearer";
    let token;
    $.ajax({
            method: "POST",
            url: "{% url 'user_api:token_refresh'%}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                "refresh": refresh_token
            }),
            success: function (result) {
                token = result.access;
                $.ajax({
                        method: "GET",
                        url: "{% url 'user_api:user_profile' %}",
                        headers: { 'Authorization': `${prefix} ${token}` },
                        success: function (result) {
                            oldUsername = result.data_profile["username"];
                            oldDateOfBirth = result.data_profile["date_of_birth"];
                            oldEmail = result.data_user["email"];
                            
                            $("#username").append(`${result.data_profile["username"]}`);
                            
                            $("#editUsername").val(result.data_profile["username"]);
                            $("#editDateOfBirth").val(result.data_profile["date_of_birth"]);
                            $("#editEmail").val(result.data_user["email"]);
                            if(result.data_profile["user_avatar"]){
                                $("#userAvatar").attr("src", `/media/${result.data_profile["user_avatar"]}`);
                            }
                        },
                });
            },
            error: function(){
                top.location.href = "{% url 'user:login' %}";
            }
    });

    $("#saveProfile").click(function(){
        let newUsername = $("#editUsername").val();
        let newDateOfBirth = $("#editDateOfBirth").val();
        $.ajax({
            method: "PUT",
            url: "{% url 'user_api:edit_profile'%}",
            headers: { 'Authorization': `${prefix} ${token}` },
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                "username": newUsername,
                "date_of_birth": newDateOfBirth
            }),
            success: function(){
                location.reload();
                return;
            },
            error: function(request, status, error){
                if(request.responseJSON.error)
                    $("#errorProfile").css("display", "block");
                    return;
            }
        });
    });
    $("#saveUserAvatar").click(function(){
        let newUserAvatar = document.getElementById("changeUserAvatar").files[0];
        let formData = new FormData();
        formData.append("file_url", newUserAvatar);
        $.ajax({
            method: "PUT",
            url: "{% url 'user_api:user_avatar_upload'%}",
            headers: { 'Authorization': `${prefix} ${token}` },
            contentDisposition: "attachment;filename=image",
            processData: false,
            contentType: false,
            data: formData,
            success: function(){
                location.reload();
                return;
            },
            error: function(request, status, error){
                if(request.responseJSON.error_file_size){
                    $("#errorFileSize").css("display", "block");
                    return;
                }
                if(request.responseJSON.error_file_ext){
                    $("#errorFileExt").css("display", "block");
                    return;
                }
            }
        });
    });

    $("#saveEmail").click(function(){
        let newEmail = $("#editEmail").val();
        let confirmIdentityPassword = $("#confirmIdentityPassword").val();
        $.ajax({
            method: "PUT",
            url: "{% url 'user_api:edit_email'%}",
            headers: { 'Authorization': `${prefix} ${token}` },
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                "email": newEmail,
                "password": confirmIdentityPassword
            }),
            success: function(){
                location.reload();
                return;
            },
            error: function(request, status, error){
                if(request.responseJSON.error){
                    $("#errorEmail").css("display", "block");
                    return;
                }

                if(request.responseJSON.error_email_exist){
                    $("#errorEmailExist").css("display", "block");
                    return;
                }

                if(request.responseJSON.error_confirm_identity_password){
                    $("#errorWrongConfirmIdentityPassword").css("display", "block");
                    return;
                }
            }
        });
    });

    $("#savePassword").click(function(){
        let email = $("#editEmail").val();
        let oldPassword = $("#oldPassword").val();
        let newPassword = $("#changePassword").val();
        let confirmPassword = $("#confirmPassword").val();

        if(confirmPassword !== newPassword){
            $("#errorWrongConfirmPassword").css("display", "block");
            return;
        }

        $.ajax({
            method: "PUT",
            url: "{% url 'user_api:change_password'%}",
            headers: { 'Authorization': `${prefix} ${token}` },
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                "password": newPassword,
                "old_password": oldPassword,
                "email": email
            }),
            success: function(){
                location.reload();
                return;
            },
            error: function(request, status, error){
                if(request.responseJSON.error){
                    $("#errorPassword").css("display", "block");
                    return;
                }
                if(request.responseJSON.error_old_password){
                    $("#errorOldPassword").css("display", "block");
                    return;
                }
            }
        });
    });

    $("#logOut").click(function(){
        localStorage.clear();
        top.location.href = "/";
    });

</script>

</html>