<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
      
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    
    <title>Document</title>
</head>
<body>
    <div class="reset-password-form">
        <div class="password-field">
            <div class="new-password">
                Password <br>
                <input type="password" id="newPassword"><br>
            </div>
            
            <div class="confirm-password">
                Confirm password <br>
                <input type="password" id="confirmPassword"><br>
            </div>
            <p class="error" id="errorConfirmPassword">Wrong confirm password</p>
            <p class="error" id="errorRequestFieldEmpty">Request field empty</p>
            <p class="error" id="errorURL">URL incapacitated</p>
            <p></p>
        </div>
        <button id="saveNewPassword">Save new password</button>
    </div>
    <p id="success">Your password has reset</p>
</body>
<script>
    $("#saveNewPassword").click(function(){
        let newPassword = $("#newPassword").val();
        let confirmPassword= $("#confirmPassword").val();

        if(confirmPassword !== newPassword){
            $("#errorConfirmPassword").css("display", "block");
            return;
        }
        $.ajax({
            method: "PUT",
            url: "{% url 'user_api:reset_password'  reset_password_number %}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                "password": newPassword,
            }),
            success: function(result){
                $(".reset-password-form").css("display", "none");
                $("#success").css("display", "inline");
                setTimeout(function(){
                    top.location.href = "{% url 'user_view:login' %}";
                }, 3000);
            },
            error: function(request, status, error){
                if(request.responseJSON.error){
                    $("#errorRequestFieldEmpty").css("display", "block");
                }
                if(request.responseJSON.error_url){
                    $("#errorURL").css("display", "block")
                    setTimeout(function(){
                        top.location.href = "{% url 'user_view:login' %}"
                    }, 4000);
                }
            }
        });
    });
</script>
</html>