<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/send_reset_password_letter.css' %}">
      
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    
    <title>Document</title>
</head>
<body>
    <div class="back"><a href="{% url 'user_view:login' %}">Back</a></div>
    <div class="send-letter-form">
        <div class="email-field">
            Email <br>
            <input type="email" id="email" maxlength="100"><br>
            <p class="error" id="errorRequestFieldEmpty">Request field empty</p>
            <p class="error" id="errorNotFoundEmail">Not found user with this email</p>
            <button class="send-letter-button" id="sendLetter">Send letter</button>
        </div>
    </div>
    <div class="success">
        <p class="success">We send letter to reset your password on your email</p>
    </div>
</body>
<script src="{% static 'js/send_reset_password_letter.js' %}"></script>
</html>